<style>
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .content {
    display: inline;
    gap: 20px;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .item {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .expired-token {
    color: red;
  }
</style>

<main class="main">
  <div class="content">
    <div class="item">
      @if ((isAuthenticated$ | async) && this.hasTokenExpired() == false) {
        @if(name$ | async; as name) {
          <span> Welcome {{name}} </span>
        }
        <button (click)="signOut()">Sign out</button>
      } @else {
        <button (click)="signIn()"> Sign in </button> 
        @if (this.hasTokenExpired() == true) {
          <br /><span class="expired-token">There is a token on the machine, but it is expired.</span>
        }
      }
    </div>
    <div class="item">
      <!-- @if ((isAuthenticated$ | async)  && this.hasTokenExpired() == false) { -->
        <button (click)="CallProtectedResource()" >Call Protected Resource</button>
      <!-- } -->
      {{ returnedData }}

    </div>
  </div>
</main>

<router-outlet />